<article class="entry">
  <div class="entry__meta">
    {% include date.html date=include.post.date lang=include.post.lang %}
    {%- if include.post.tags and include.post.tags != empty %}
    <ul class="tags">
      {%- for tag in include.post.tags %}
      <li>{{ tag }}</li>
      {%- endfor %}
    </ul>
    {%- endif %}
  </div>

  <h2 class="entry__title">
    <a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a>
  </h2>

  <div class="entry__excerpt">
    {%- if include.post.excerpt and include.post.excerpt != empty %}
      <p>{{ include.post.excerpt | strip_html | strip | truncatewords: 60 }}</p>
    {%- else %}
      <p>{{ include.post.content | strip_html | strip | truncatewords: 60 }}</p>
    {%- endif %}
  </div>
</article>
